------------------------------------
 Linux From Scratch Integrity Check 
------------------------------------

Downloading check

Files wanted: 94 
Files found: 94 
Files not found: 0 

Checksum check

Files with checksums: 89 
Files with wrong checksums: 0 
